:root {
    --main-black-color: #000;
    --main-white-color: #fefeff;
    --main-orange-color: #ff9200;
    --main-red-color: #8b0000;
    --main-green-color: #005d6c;
}

.container {
    width: 100%;
    height: 60px;
    background-color: #fff;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    position: fixed;
    z-index: 999999;
    display: flex;
    justify-content: space-between;
}

.container h1 {
    font-size: 18px;
    color: var(--main-green-color);
}

.navLeft {
    margin-left: 20px;
    height: 100%;
    display: flex;
    align-items: center;
    width: 160px;
    justify-content: space-between;
}

.navLeft img {
    height: 40px;
}

.navRight {
    height: 100%;
    align-self: flex-end;
    display: flex;
    align-items: center;
    padding-right: 30px;
}

.navRight span {
    height: 35px;
    width: 35px;
    border: 1px solid var(--main-black-color);
    border-radius: 60px;
}
