:root {
    --primary-color: #5ed892
    --main-black-color: #131517;
    --light-black-color: #2d3438;
    --dark-gray-color: #737a80;
    --light-gray-color: #f2f2f2;
}

.container {
    width: 100%;
    height: 60px;
    background-color: #fff;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    position: fixed;
    z-index: 999999;
    display: flex;
    justify-content: space-between;
}

.navLeft h1 {
    padding: 0;
    font-size: 18px;
    color: var(--main-green-color);
}

.navLeft {
    margin-left: 20px;
    height: 100%;
    display: flex;
    align-items: center;
    width: 100px;
    justify-content: space-between;
}

.navLeft img {
    height: 40px;
}

.navRight {
    height: 100%;
    align-self: flex-end;
    display: flex;
    align-items: center;
    padding-right: 30px;
}

.navRight a {
    font-size: 12px;
    color: var(--main-green-color);
    margin-left: 20px;
}

.active {
    font-weight: bold;
}

.myProfile {
    height: 35px;
    width: 35px;
    border: 1px solid var(--main-green-color);
    border-radius: 60px;
}
