{
    "presets": [
        "es2015",
        "react",
        "stage-1"
    ],
    "env": {
        "production": {
            "only": ["src"],
            "plugins": [
                "transform-react-remove-prop-types",
                "transform-react-constant-elements",
                "transform-react-inline-elements"
            ]
        }
    },
    "plugins": [
        "transform-runtime",
        "add-module-exports"
    ]
}
