{
    "parser": 'babel-eslint',
    "extends": 'airbnb',
    "env": {
        "browser": true,
        "node": true,
        "mocha": true,
        "es6": true
    },
    "plugins": [
        "react",
        "jsx-a11y"
    ],
    "parserOptions": {
        "sourceType": "module"
    },
    "rules": {
        "max-len": 0,
        "comma-dangle": ['error', 'never'],
        "indent": ['error', 4],
        "react/jsx-indent-props": ['error', 4],
        "react/jsx-indent": ['error', 4],
        "arrow-body-style": ['error', 'always'],
        "prefer-template": 0
    }
}
