{
    "extends": "stylelint-config-standard",
    "rules": {
        "string-quotes": "single",
        "indentation": 4,
        "selector-pseudo-class-no-unknown": [
            true,
            {
                "ignorePseudoClasses": [
                    "global"
                ]
            }
        ]
    }
}
