.container {
    width: 100%;
}

.toggle {
    display: flex;
    align-items: baseline;
}

.toggle h3 {
    color: rgb(156, 156, 156);
    font-size: 14px;
}

.description textarea {
    width: 400px;
    height: 150px;
    border: none;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    font-size: 14px;
}

/* MARKDOWN styling */

.description {
    font-size: 12px;
}

.description h1 {
    font-size: 22px;
}

.description h2 {
    font-size: 18px;
}

.description h3 {
    font-size: 16px;
}

.description li {
    list-style: disc;
    list-style-position: inside;
}
