:root {
    --main-black-color: #000;
    --main-white-color: #fefeff;
    --main-orange-color: #ff9200;
    --main-red-color: #8b0000;
    --main-green-color: #005d6c;
}

.container {
    width: 350px;
    height: 250px;
    margin: 10px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
    background-color: #fff;
}

.container:hover {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.container header {
    width: 100%;
}

header h1 {
    padding: 15px;
    font-size: 14px;
    color: var(--main-green-color);
}

.purpose {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.purpose h2 {
    font-size: 12px;
    font-weight: lighter;
    width: 90%;
}

.purpose h4 {
    padding: 14px;
    color: var(--main-red-color);
    font-size: 12px;
    align-self: flex-end;
}

.statsRow {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.statsRow div {
    width: 100px;
    margin: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.statsRow img {
    height: 30px;
}
