:root {
    --primary-color: #5ed892;
    --main-black-color: #131517;
    --light-black-color: #2d3438;
    --dark-gray-color: #737a80;
    --main-gray-color: #f2f2f2;
    --light-gray-color: #fafafa;
    --main-white-color: #fff;
}

.container {
    width: 200px;
    background-color: var(--light-black-color);
    padding: 25px;
    display: flex;
    flex-direction: column;
    align-items: baseline;
}

.collections {
    margin-top: 80px;
    height: 150px;
}

.collections h1 {
    color: var(--main-white-color);
    font-size: 16px;
    font-weight: bold;
}

.collections a {
    color: var(--light-gray-color);
    font-size: 16px;
    font-weight: lighter;
}

.subCategories div {
    height: 25px;
    display: flex;
    align-items: center;
}
