:root {
    --primary-color: #5ed892;
    --main-black-color: #131517;
    --light-black-color: #2d3438;
    --dark-gray-color: #737a80;
    --main-gray-color: #f2f2f2;
    --light-gray-color: #fafafa;
    --main-white-color: #fff;
    --line-gray-color: #e5e5e5;
}

.container {
    width: 100%;
    position: relative;
    max-width: 400px;
}

.container input {
    font-size: 16px;
    padding: 10px;
    display: block;
    width: 100%;
    font-weight: lighter;
    background-color: rgba(255, 0, 0, 0.0);
    border: 1px solid var(--line-gray-color);
    height: 50px;
    border-radius: 3px;
}
