:root {
    --main-black-color: #000;
    --main-white-color: #fefeff;
    --main-orange-color: #ff9200;
    --main-red-color: #8b0000;
    --main-green-color: #005d6c;
}

.container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: #fff;
}

.container h2 {
    font-size: 18px;
    color: var(--main-white-color);
    padding: 20px;
}

.container nav {
    padding-left: 20px;
    display: flex;
    align-items: center;
    width: 100%;
    height: 60px;
    background-color: #fff;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    position: fixed;
    z-index: 999999;
}

.container nav a {
    font-size: 16px;
    color: var(--main-black-color);
    font-weight: bold;
}

.container nav h4 {
    margin-left: 5px;
    font-size: 20px;
    color: var(--main-green-color);
}

.membersContainer {
    padding-top: 60px;
    background-color: var(--main-green-color);
}

.membersContainer a {
    color: var(--main-white-color);
}
