* {
    box-sizing: border-box;
}

:root {
    --green: #67c198;
    --white: #fff;
    --extra-l-grey: #fafafa;
    --l-grey: #e5e5e5;
    --grey: #797c80;
    --dark-grey: #2D3438;
    --black: #131517;
    --orange: #fec288;
    --red: #e87385;
}

html,
body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
}

body {
    font-family: 'Proxima Nova', Helvetica, Arial, sans-serif;
    background: #fafafa;
    overflow-x: hidden;
    overflow-y: hidden;
    display: flex;
    flex-direction: column;
    color: var(--black);
}

:global body.authenticated {
    background: #f8f8f8;
}

button:focus,
input:focus {
    outline: none;
}

h1,
h2,
h3,
h4,
h5,
p {
    margin: 0;
}

input::-ms-clear {
    display: none;
}

input::-webkit-input-placeholder {
    color: rgba(19, 21, 23, 0.25);
}

input:focus::-webkit-input-placeholder {
    color: rgba(19, 21, 23, 0.25);
}

input::-moz-placeholder {
    color: rgba(19, 21, 23, 0.25);
}

input:focus::-moz-placeholder {
    color: rgba(19, 21, 23, 0.18);
}

input:-ms-input-placeholder {
    color: rgba(19, 21, 23, 0.18);
}

input:focus:-ms-input-placeholder {
    color: rgba(19, 21, 23, 0.18);
}

textarea {
    outline: none;
}

i {
    font-style: normal;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: var(--black);
}

ul {
    margin: 0;
    padding-left: 0;
    list-style: none;
}
