:root {
    --primary-color: #5ed892;
    --main-black-color: #131517;
    --light-black-color: #2d3438;
    --dark-gray-color: #737a80;
    --main-gray-color: #f2f2f2;
    --light-gray-color: #fafafa;
    --main-white-color: #fff;
}

.container {
    border: none;
    background: none;
    cursor: pointer;
}

.container div {
    background-color: #fff;
    width: 120px;
    height: 40px;
    border: 1px solid #ddd;
    border-radius: 3px;
    padding: 10px;
}

.title {
    font-size: 14px;
}

/* TRANSPARENT */

.transparent div {
    background: none;
    width: 100%;
    border: none;
    padding: 0;
    height: 40px;
    display: flex;
    align-items: center;
}

.transparent label {
    font-size: 16px;
}

/* PRIMARY */

.primary div {
    background-color: var(--primary-color);
    color: var(--main-white-color);
    border: 1px solid var(--primary-color);
}

/* ACTION BUTTONS */
.action div {
    border-radius: 100px;
    color: var(--dark-gray-color);
}

.primaryAction div {
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
}
