.container {
    border: none;
    background: none;
}

.container div {
    width: 120px;
    height: 40px;
    border: 1px solid #ddd;
    border-radius: 3px;
}

.title {
    font-size: 12px;
    font-weight: bold;
}

/* LIKE BUTTON */
.like div {
    background-color: #fff;
    display: flex;
    align-items: center;
    padding: 10px;
}

.like label {
    padding: 10px;
}
