.container {
    border: none;
    background: none;
    cursor: pointer;
}

.container div {
    background-color: #fff;
    width: 120px;
    height: 40px;
    border: 1px solid #ddd;
    border-radius: 3px;
    padding: 10px;
}

.title {
    font-size: 12px;
    font-weight: bold;
}

/* LIKE BUTTON */
.like div {
    display: flex;
    align-items: center;
}

.like label {
    padding: 10px;
}

/* TRANSPARENT */

.transparent div {
    background: none;
    width: 100%;
    border: none;
    padding: 0px;
}

.transparent label {
    font-size: 12px;
    color: rgb(156, 156, 156);
}
