:root {
    --primary-color: #5ed892;
    --main-black-color: #131517;
    --light-black-color: #2d3438;
    --dark-gray-color: #737a80;
    --light-gray-color: #f2f2f2;
}

.container {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.stats {
    width: 100%;
    height: 200px;
    background-color: #fff;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}
