:root {
    --primary-color: #5ed892;
    --main-black-color: #131517;
    --light-black-color: #2d3438;
    --dark-gray-color: #737a80;
    --main-gray-color: #f2f2f2;
    --light-gray-color: #fafafa;
    --main-white-color: #fff;
}

.container {
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
}

.signup {
    width: 400px;
    background-color: var(--main-white-color);
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.signup h1 {
    font-size: 18px;
    margin-top: 20px;
    font-weight: bold;
}

.inputs {
    margin-top: 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
    height: 120px;
    justify-content: space-between;
    padding: 5px;
}

.buttons {
    margin-top: 15px;
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.message {
    margin-bottom: 30px;
    height: 30px;
    width: 100%;
    padding: 10px;
}

.message div {
    width: 100%;
    background-color: rgba(242, 35, 35, 0.8);
    height: 100%;
    border-radius: 3px;
    display: flex;
    align-items: center;
    padding: 20px;
}

.message h5 {
    color: var(--main-white-color);
    font-size: 14px;
}
