.container {
    /*position: absolute;*/
    width: 250px;
    height: 200px;
    background-color: #fff;
    z-index: 2000;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.container header {
    border-bottom: 1px solid #ddd;
    height: 30px;
    margin: 10px;
    display: flex;
    align-items: center;
    padding: 10px;
}

.container header h3 {
    font-size: 12px;
}
